body { 
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    min-width: 0;
    background-color: #FAEBD7;
}

.title {
    font-family: fantasy;
    font-size: 80px;
    flex: 1 1 auto;
    margin-top: 20px;
}

.results {
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 40px;
    flex: 1 1 auto;
}

#human-info, #computer-info {
    flex-basis: 300px;
}

#human-move, #computer-move {
    height: 80%;
    border-radius: 20px;
    border: 7px solid black;
}

#human-score, #computer-score {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
}

#seperator {
    font-size: 60px;
    font-weight: 900;
    align-self: center;
}

.moves {
    display: flex;
    justify-content: space-between;
    width: 800px;
    flex: 1 1 auto;
}

.move {
    flex-basis: 150px;
    flex: 0 1 150px;
}

.move > button {
    border: 5px solid black;
    border-radius: 10px;
}
.move > button:hover, .play-again-btn:hover {
    border-color: #F5F5F5;
}
.move > button > img {
    width: 100%;
}

.play-again-container {
    padding: 45px;
    flex: 1 1 auto;
}

.play-again-btn {
    border: 5px solid black;
    font-family: fantasy;
    border-radius: 10px;
    font-size: 50px;
    padding: 8px;
}









